# HA runtime og database
.storage/
home-assistant_v2.db*
*.db-shm
*.db-wal
*.db
*.log*
.cloud/
deps/
media/
tmp/
tts/

# Zigbee/Z2M artefakter
zigbee.db
zigbee*.db*
zigbee2mqtt/database.db*
zigbee2mqtt/state.json
zigbee2mqtt/coordinator_backup.json

# HACS nedlastinger (vanlig å ignorere)
www/community/**

# Python cache
custom_components/**/__pycache__/
**/__pycache__/

# Addons (behold lokale addons)
addons/
!addons/local/

# Backups og nøkler
backup/
secrets.yaml
*.key
*.pem

# Diverse
uploads/
.DS_Store
.vscode/
.idea/
